<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.muthuveerappans.course3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--entry point activity-->
        <activity android:name=".Activities.GenresListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--activity that shows the list of movies for a particular genre-->
        <activity
            android:name=".Activities.MoviesListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.GenresListActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.GenresListActivity" />
        </activity>

        <!--login page activity-->
        <!--This needs to be redirected from the web page. So specific intent filters are added-->
        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="www.course3_app.com" />
                <data android:scheme="http" />
                <data android:pathPattern="/login_approved" />
            </intent-filter>
        </activity>

        <!--movie detail activity
            singleTop mode is used for : If an instance of the activity already exists at the top of the target task,
            the system routes the intent to that instance through a call to its onNewIntent() method,
            rather than creating a new instance of the activity.-->
        <activity
            android:name=".Activities.MovieDetailActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.MoviesListActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MoviesListActivity" />
        </activity>

    </application>

</manifest>